<header class="menu-header">
  <nav class="menu-header__nav container-fluid">
    <div class="menu-header__menu">
      <a class="menu-header__link" routerLinkActive="active"  [routerLink]="'/products'">PRODUITS</a>
      <a class="menu-header__link" routerLinkActive="active" [routerLink]="'/cart'">
        PANIER
      </a>
    </div>
    <div class="menu-header__buttons">
      <button class="btn-icon" (click)="goTo('/cart')">
        <mat-icon>shopping_cart</mat-icon>
        <span *ngIf="totalCart" class="badge">{{totalCart}}</span>
      </button>
      <button class="btn-primary">Ajouter un produit</button>
    </div>
  </nav>
</header>
