<header class="menu-header">
  <nav class="menu-header__nav container-fluid">
    <div class="menu-header__menu">
      <a class="menu-header__link" routerLinkActive="active">ACCUEIL</a>
      <a class="menu-header__link" routerLinkActive="active"  [routerLink]="'/products'">PRODUITS</a>
      <a class="menu-header__link" routerLinkActive="active" >WISHLIST</a>
      <a class="menu-header__link" routerLinkActive="active" >PANIER</a>
    </div>
    <button class="btn-primary">Ajouter un produit</button>
  </nav>
</header>
