

/* -- Fonts -- */

@mixin fonts($fs: 16px, $lh: 16px, $cl: $color-black) {
  font-size: $fs;
  line-height: $lh;
  color: $cl;
}
/* -- Flex -- */

@mixin flex($flex: flex, $ai: center, $jc: center) {
  display: $flex;
  align-items: $ai;
  justify-content: $jc;
}

/* -- Dimensions -- */

@mixin dimensions($w: 25px, $h: 25px) {
  width: $w;
  height: $h;
}

